.auth-layout-body {
    // background-image: url('../public/images/login-background.png?v=1');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    .auth-container{
      margin: 8em auto;
      // margin-bottom: 2em;
      img.brand-logo{
        height: 4em;
        margin-bottom: 4em;
      }
    }
    .auth-title {
      font-size: 2.5em;
      font-weight: 400;
    }
    .auth-sub-title {
      font-size: 1em;
    }
    .auth-footer-link{
      font-weight: normal;
      color: white;
    }
    .auth-reset-link{
      font-weight: normal;
      color: white;
      text-decoration: underline;
      opacity: 0.8;
    }
    .auth-text-input{
      background-color: #FFFFFF4D !important;
      background: #FFFFFF4D 0% 0% no-repeat padding-box;
      border: 1px solid #FFFFFF80;
      border-radius: 3px;
      opacity: 1;
      color: white;
    }
    .auth-text-input:focus{
      background: #FFFFFF4D 0% 0% no-repeat padding-box;
      border: 1px solid #FFFFFF80;
      box-shadow: none;
      color: white;
    }
    .auth-text-input.otp-input{
      width: 3em;
      float: left;
      margin-right: 1em;
      text-align: center;
    }
    .auth-text-input.otp-input::-webkit-outer-spin-button,
    .auth-text-input.otp-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .auth-text-input.otp-input[type=number] {
      -moz-appearance: textfield;
    }
  
    .auth-error{
      color: red;
    }
    .auth-step-heading{
      font-size: 0.7em;
      color: #E5E5E5;
      opacity: 1;
    }
    .step-container {
      float: right;
  
    }
    .step-bar-fill{
      border:  1.2px solid #E5E5E5;
      border-radius: 5px;
      background-color: #E5E5E5;
      width: 100%;
    }
    .step-bar-unfill{
      border:  1.2px solid #E5E5E5;
      border-radius: 5px;
      opacity: 0.5;
      width: 100%;
      background-color:#E5E5E5 ;
    }
    .step-bar{
      display: flex;
      justify-content: space-between;
  
    }
    .signin-link{
      color: #FFB800;
    }
    .eye-icon{
      position: absolute;
      cursor: pointer;
      font-size: 1em;
      right:2em;
      opacity: 0.6;
      top:3em;
    }
  }
  
  .image-profile-section{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    //background-color: #001E45;
    padding: 0.2rem;
    border: none!important;
  
  }
  .image-profile-section-cover{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #001E45;
    //background-color: #001E45;
  }
  
  