[data-component="auth-layout"]{
    .authLayoutBody {
    background: red;
    background-size: contain;
    min-height: 100vh;
  
    .auth-title {
      font-size: 4em;
    }
  
    .auth-sub-title {
      font-size: 1em;
    }
  }
}