[data-Component="login-component"]{

    .auth-title {
        font-size: 2em;
        font-weight: 400;
        color: #4f4f60;
    }

    .card-padding{
        color: #4f4f60;
        margin-top: 5rem; 
        margin-right: 2rem;
        margin-left: 1.5rem;
        padding: 5rem;
        background-color: #eef0f166 !important;
        border: none;
    }

    .forget-pass-link{
        color: #05447a !important;
        text-decoration: none;
    }

    .login-btn{
        color: #ffffff;
        background-color: #05447a !important;
    }

    .form-check-input:checked {
        background-color: #05447a !important;
        border-color: #05447a !important;
        border-radius: none !important;
    }

    @media only screen and (max-width: 768px) {

        font-size: 0.9rem;

        .auth-title {
            font-size: 1.6em;
            font-weight: 500;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 4rem;
            margin-right: 0.2rem;
            margin-left: 0.2rem;
            padding: 0.9rem;
            background-color: #eef0f166 !important;
            border: none;
        }

    }


    @media only screen and (max-width: 425px) {
       
        font-size: 0.8rem;

        .auth-title {
            font-size: 1.5em;
            font-weight: 600;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 4rem;
            margin-right: 0rem;
            margin-left: 0rem;
            padding: 0.9rem;
            background-color: #eef0f166 !important;
            border: none;
        }
    }

    @media only screen and (max-width: 375px) {

        font-size: 0.8rem;

        .auth-title {
            font-size: 1.5em;
            font-weight: 600;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 3rem;
            margin-right: 0rem;
            margin-left: 0rem;
            padding: 0.8rem;
            background-color: #eef0f166 !important;
            border: none;
        }
    
    }

}

[data-component="login-first-page"]{
    .login-page-img{
        margin-top: 2rem;
        width: 250px;
    }
    .img-cotainer{
        background-image: url('/images/login-page-img1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }


    @media only screen and (max-width: 1440px) {
        .login-page-img{
            margin-top: 2rem;
            width: 150px;
        }
        .img-cotainer{
            background-image: url('/images/login-page-img1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    }

    @media only screen and (max-width: 1024px) {
        .login-page-img{
            margin-top: 2rem;
            width: 150px;
        }
        .img-cotainer{
            background-image: url('/images/login-page-img1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    } 

    @media only screen and (max-width: 525px) {
        .login-page-img{
            margin-top: 2rem;
            width: 180px;
        }
        .img-cotainer{
            background-image: url('/images/login-page-img1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    } 

    @media only screen and (max-width: 425px) {
        .login-page-img{
            margin-top: 2rem;
            width: 150px;
        }
        .img-cotainer{
            background-image: url('/images/login-page-img1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    }    

    @media only screen and (max-width: 375px) {
        .login-page-img{
            margin-top: 2rem;
            width: 100px;
        }
        .img-cotainer{
            background-image: url('/images/login-page-img1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    }

}

[data-Component="sign-up"]{
    .auth-title {
        font-size: 2em;
        font-weight: 400;
        color: #4f4f60;
    }

    .card-padding{
        color: #4f4f60;
        margin-top: 3rem;
        margin-right: 2rem;
        margin-left: 1.5rem;
        padding: 2rem 3rem;
        background-color: #eef0f166 !important;
        border: none;
    }

    .forget-pass-link{
        color: #05447a !important;
        text-decoration: none;
    }

    .login-btn{
        color: #ffffff;
        background-color: #05447a !important;
    }

    .form-check-input:checked {
        background-color: #05447a !important;
        border-color: #05447a !important;
        border-radius: none !important;
    }

    .small-text{
        font-size: 0.75rem;
    }

    .dropdown-border{
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
    }

    @media only screen and (max-width: 768px) {

        font-size: 0.9rem;

        .auth-title {
            font-size: 1.2em;
            font-weight: 500;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 4rem;
            margin-right: 0.2rem;
            margin-left: 0.2rem;
            padding: 0.9rem;
            background-color: #eef0f166 !important;
            border: none;
        }

        .small-text {
            font-size: 0.6rem;
        }

    }


    @media only screen and (max-width: 425px) {
       
        font-size: 0.8rem;

        .auth-title {
            font-size: 1.5em;
            font-weight: 600;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 4rem;
            margin-right: 0rem;
            margin-left: 0rem;
            padding: 0.9rem;
            background-color: #eef0f166 !important;
            border: none;
        }

        .small-text {
            font-size: 0.6rem;
        }

    }

    @media only screen and (max-width: 375px) {

        font-size: 0.8rem;

        .auth-title {
            font-size: 1.2em;
            font-weight: 600;
            color: #4f4f60;
        }
    
        .card-padding{
            color: #4f4f60;
            margin-top: 3rem;
            margin-right: 0rem;
            margin-left: 0rem;
            padding: 0.8rem;
            background-color: #eef0f166 !important;
            border: none;
        }

        .small-text {
            font-size: 0.5rem;
        }
    
    }

}

[data-Component="sidebar"]{
    .sidebar{
        background-color: #14314e;
        width:  15.2rem;
        height: 100vh;
    }

    .brand-logo{
        width: 10rem;
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

    .house-color{
        color: #ffffff;
        margin-right: 1rem;
        vertical-align: baseline;
    }
    .sidebar-link-item{
        color: #ffffff !important;
        text-decoration: none; 
        font-size: 0.9rem;
    }

    .active{
        background-color: #eef0f154;
        list-style: none;
        margin-top: 1rem;
    }

    .active:active{
        background-color: #eef0f154;
        list-style: none;
        margin-top: 1rem;
    }

    .list{
        list-style: none; 
    }

    .credit-feild{
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .plus{
        margin-left: 3rem;
    }

    .margin-top{
        margin-top: 17rem;
    }

    .corporate-img{
        border-radius: 50%;
        margin-right: 1rem;
        margin-left: -0.51rem;
        width: 25px;
        height: 25px;
    }

    .paddleft{
        padding-left: 1.5rem !important;
    }

    @media only screen and (max-width: 375px) {
        .sidebar{
        background-color: #14314e !important;
        width: 15.2rem !important;
        height: 200vh !important;
        }
    }

    @media only screen and (max-width: 425px) {
        .sidebar{
        background-color: #14314e !important;
        width: 15.2rem !important;
        height: 200vh !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .sidebar{
        background-color: #14314e;
        width: 15.2rem ;
        height: 200vh;
        }
    }


}

[data-Component="layout-lm-dashboard"]{

    background-color: #f5f6fa !important;
    
    .row{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    

    .dashboard-container{
        .sidebar-container{
            background-color: #14314e;
            width: 16% !important;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            color: #fff;
        }

        .sidebar-container-second{
            display: none;
        }

        .main-body{
            width: 77.5rem;
            height: 100vh;
            margin: auto 16.5rem;
        }
    }

    @media only screen and (max-width: 375px) {
        .main-body {
            width: 100% !important;
            height: 200vh !important;
            margin: 0.5rem 0.5rem !important;
        }

        .sidebar-container{
            display: none;
        }

        .sidebar-container-second{
            display: block !important;
        }

        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        } 

    }

    @media only screen and (max-width: 425px) {
        .main-body {
            width: 62rem !important; 
            height: 864px!important;
            margin: 0.5rem 0 !important;
        }

        .sidebar-container{
            display: none;
        }

        .sidebar-container-second{
            display: block !important;
            width: 100% !important;
        }

        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        } 
    }

    @media only screen and (max-width: 768px) {
        .main-body {
            width: 62rem !important;
            height: 864px!important;
            margin: 0.5rem 0.5rem !important;
        }

        .sidebar-container{
            display: none;
        }

        .sidebar-container-second{
            display: block !important;
            width: 100% !important;

        }

        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        } 
    }

}



[data-Component="new-user-dashboard"]{

    .dashboard-heading{
        font-size: 1.5rem;
        font-weight: 500;
        color: #4f4f60;
    }

    .dasboard-margin{
        margin-top: 9rem;
    }

    .sub-heading{
        font-size: 1rem;
        color: #4f4f60;
    }

    .started-btn{
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .dashboard-page-img{
        margin-top: 2rem;
        width: 700px;
        height: 49vh;
    }
}

[data-Component="edit-compony-profile"]{
    .edit-company-page{
        height: fit-content;
    }

    .company-heading{
        font-size: 1.5rem;
        color: #4f4f60;
    }

    .save-btn{
        font-size: 0.9rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        margin-right: 1rem;
    }

    .cancel-btn{
        font-size: 0.9rem !important;
        color: #05447a !important;
        border-color: #05447a !important;
        background-color: #ffffff  !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
    }

    .col-dispaly{
        display: none;
    }

    .edit-company-form-page{
        background-color: #ffffff;
        border-radius: 0.2rem;
        margin-left: 0.1rem;
        margin-right: 1.5rem;
        
        .company-sub-heading{
            font-size: 1.5rem;
            font-weight: 500;
            color: #4f4f60;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .heading-bottom-border{
            border-bottom: 1px solid #ced4da;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .form-field{
            margin-left: 3rem;
            margin-right: 3rem;
        }

        .dot{
            text-align: center;
            border: 1px dashed #05447a;
            border-radius: 0.5rem;
            padding: 3rem;
            margin-right: 2rem;
        }

        .upload-text{
            color: #05447a;
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .upload-text-I{
            color: grey;
            font-size: 0.7rem;
            margin-bottom: 0;
        }

        .dropdown-border{
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
        }

        .card{
            margin-left: 3rem;
            margin-right: 3rem;
        }

        .profile-bottom-border{
            border-bottom: 1px solid #ced4da;
            margin-left: 1rem;
        }

        .spokeperson-heading{
            font-size: 1rem;
            color: #4f4f60;
            margin-bottom: 0;
           
        }

        .spokeperson-heading-padding{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .plus-circle-icon{
            color: #05447a;
            margin-right: 1.5rem;
            cursor: pointer;
        }

        .delete-icon{
            color: grey;
        }

        .profile-img{
            width: 125px;
            height: 125px;
            border-radius: 50%;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
        }

        .profile-img-text{
            font-size: 0.8rem;
            color: #05447a;
            margin-left: 1rem;
        }

        .btn-feild{
            margin-top: 5rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }

    @media only screen and (max-width: 375px) {     
        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }    

        .col-dispaly{
            display: block;
        }

        .spokeperson-heading {
            font-size: 0.81rem;
            color: #4f4f60;
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: 425px) {     
        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }   

        .col-dispaly{
            display: block;
        } 

        .spokeperson-heading {
            font-size: 0.81rem;
            color: #4f4f60;
            margin-bottom: 0;
        }

    }

    @media only screen and (max-width: 768px) {     
        .scroll{
            overflow-y:scroll; 
            height: 579px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }  

        .col-dispaly{
            display: block;
        } 

        .spokeperson-heading {
            font-size: 0.81rem;
            color: #4f4f60;
            margin-bottom: 0;
        }
    }

}


[data-Component="booking"]{
    .booking-heading{
        font-size: 1.5rem;
        color: #4f4f60; 
    }

    .booking-sub-heading{
        font-size: 1.4rem;
        font-weight: 400;
        color: #4f4f60;        
    }

    .booking-text{
        font-size: 1rem;
        color: #4f4f60;  
    }

    .new-booking-btn{
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .booking-page-img{
        object-fit: cover;
        width: 500px;
    }

    .plus-icon{
        position: relative;
        top: -1.5px;
        right: 12px;
    }
}


[data-Component="new-booking"]{

    .new-booking-page{
        height: 100Vh;
    }

    .edit-pencil-icon{
        color: #05447a;
        margin-left: 1rem;
    }

    .save-btn{
        font-size: 0.9rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        margin-right: 1rem;
    }

    .cancel-btn{
        font-size: 0.9rem !important;
        color: #05447a !important;
        border-color: #05447a !important;
        background-color: #ffffff  !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
    }

    .col-dispaly{
        display: none;
    } 

    .booking-heading{
        font-size: 1.5rem;
        color: #4f4f60; 
    }

    .booking-sub-heading{
        font-size: 1.4rem;
        font-weight: 400;
        color: #4f4f60;        
    }

  

    .new-booking-btn{
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .booking-sub-page{
        background-color: #ffffff;
        border-radius: 0.2rem;
        margin-right: 1.5rem;

        .content-box{
            margin-left: 1rem;
            margin-right: 1rem;
            padding-top: 1.2rem;
        }

        .booking-type-text{
            font-size: 1rem;
            color: #696978;  
            margin-bottom: 0;
        }


        .pass-btn{
            background-color: #ffffff !important;
            border-color: #05447a !important;
            color: #05447a !important;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            width: 10rem;
            font-size: 1.1rem;

            &.hourly-pass-btn{  
                margin-right: 2.5rem;
            }
            &.hourly-pass-btn:active{  
                background-color: #d7e1ea !important;
            }
            &.daily-pass-btn{
                margin-right: 2.5rem;
            }
            &.daily-pass-btn:active{
                background-color: #d7e1ea !important;
            }
            &.monthly-pass-btn{
                background-color: #d7e1ea !important;
            }
            &.monthly-pass-btn:active{
                background-color: #d7e1ea !important;
            }
        }

        .accordian-heading{
            font-size: 0.95rem;
            color: #696978;
        }

        .accordian-sub-heading{
            font-size: 0.8rem;
            color: #c0c0c5;
            position: relative;
            top: 1.5rem;
            right: 6rem          
        }

        .accordian-button{
            padding: 1rem;
        }

        .display-select{
            .chip {
                align-items: center;
                background: #d7e1ea;
                border-radius: 5px;
                color: #616374;
                display: inline-flex;
                font-size: 13px;
                line-height: 19px;
                margin-bottom: 5px;
                margin-right: 0.8rem;
                padding: 4px 10px;
            }
        }

        .filter-btn{
            width: 100%;
            color: #ffffff !important;
            background-color: #05447a !important;
            .icon-plus{
                margin-left: 0.5rem;
                font-weight: bolder !important;
            }
        }

        .spaces-found{
            font-size: 0.8rem;
            color: #4f4f60;
        }

        .card-size{
            width: 16rem;
        }

        .card-title{
            font-size: 1rem;
            color: #696978;
            font-weight: 400;
        }

        .card-space-icon{
            width: 25px;
            height: 25px;
            margin-left: 3rem;
        }

        .address-text{
            font-size: 0.85rem;
            color: #696978;
        }

        .rupee-symbol{
            font-size: 2.5rem;
            color: grey;
        }

        .starting-text{
            font-size: 0.7rem;
            font-weight: lighter;
            color: #696978;
            position: relative;
            bottom: 1.2rem;
            left: 0.5rem;
        }

        .number-text{
            font-size: 0.8rem;
            font-weight: 500;
            position: relative;
            left: 1.85rem; 
            bottom: 2rem;
            margin-bottom: 0;
        }

        .number-textI{
            font-size: 0.8rem;
            font-weight: 500;
            position: relative;
            left: 2rem; 
            bottom: 2rem;
            margin-bottom: 0;
        }

        .day-text{
            font-size: 0.85rem;
            font-weight: lighter; 
            position: relative;
            bottom: 3.4rem;
            left: 4.8rem;    
        }

        .sitting-symbol{
            font-size: 2.5rem;
            color: green;
            position: relative;
            bottom: 0.2rem;
            margin-left: 0.5rem;
        }

        .card-text-height{
            height: 104px;
        }

        .sun{
            background-color: #f9efe5;
            border-radius: 33px;
            padding: 0px 7px;
            position: relative;
            right: 19px;
        }

        .sun-icon{
            color: #f49025;
            position: relative;
            bottom: 2px;
        }

        .wifi{
            background-color: #ecebfa;
            border-radius: 33px;
            padding: 0px 7px;
            position: relative;
            right: 3px;
        }

        .wifi-icon{
            color: #6c63ff;
            position: relative;
            bottom: 4px;
        }

        .robot{
            background-color: #d1d1d1;
            border-radius: 33px;
            padding: 0px 7px;
            position: relative;
            left: 95px;
            bottom: 24px;
        }

        .robot-icon{
            color: #000000;
            position: relative;
            bottom: 4px;
        }

        .cycle{
            background-color: #e2f3ec;
            border-radius: 33px;
            padding: 0px 7px;
            position: relative;
            left: 20px;
            
        }

        .cycle-icon{
            color: #07b871;
            position: relative;
            bottom: 4px;
        }

        .car{
            background-color: #fae9eb;
            border-radius: 33px;
            padding: 0px 7px;
            position: relative;
            left: 37px;
        }

        .car-icon{
            color: #ff4c61;
            position: relative;
            bottom: 4px;
        }

        .label{
            background-color: #05447a;
            color: #ffffff;
            font-size: 0.9rem;
            border-radius: 3px;
            padding-top: 1.5px;
            padding-bottom: 1.5px;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: center;
            position: relative;
            bottom: 341px;
            right: 16px;
            z-index: 1;
        }

        .selected-label{
            background-color: #199d663d ;
            color: green;
            border: 1px solid green;
            font-size: 0.9rem;
            border-radius: 10px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            position: relative;
            bottom: 341px;
            left: 60px;
            z-index: 1;
        }

        .unselect{
            background-color: red !important;
            color: #ffffff;
            border: none;
            font-size: 0.9rem;
            border-radius: 3px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            position: relative;
            bottom: 258px;
            left: 35px;
            z-index: 1;
        }

        .space-detail-label{
            background-color:#ffd81438 !important;
            color: #ffd814 !important;
            border: 1px solid #ffd814 !important;
            font-size: 0.9rem;
            border-radius: 3px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            position: relative;
            bottom: 258px;
            left: 10px;
            z-index: 1;
        }

        .btn-next{
            background-color: #d7e1ea !important;
            color: #05447a !important;
            border: none;
            border-radius: 3px !important;
            padding-left: 2rem;
            padding-right: 2rem;
        }

    }

    @media only screen and (max-width: 375px) {     
        .scroll{
            overflow-y:scroll; 
            height: 310px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }    

        .card-size {
            width: 12rem !important;
        }

        .col-dispaly{
            display: block;
        }
        
    }

    @media only screen and (max-width: 425px) {     
        .scroll{
            overflow-y:scroll; 
            height: 310px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }

        .card-size {
            width: 12rem !important;
        } 

        .col-dispaly{
            display: block;
        }
    }

    @media only screen and (max-width: 768px) {     
        .scroll{
            overflow-y:scroll; 
            height: 310px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }  
        
        .card-size {
            width: 12rem !important;
        }

        
    }
    
}


[data-Component="booking-filter"]{

    .heading{
        font-size: 0.8rem;
        margin-left: 0.5rem;
        position: relative;
        top: 2px;
    }

    .clear-filter{
        font-size: 0.8rem;
        color: red;
        text-decoration: none;
        text-align: right;
        cursor: pointer;
    }

    .sub-heading{
        font-size: 0.9rem;
        font-weight: 600;
        color: #616374;
    }

    .form-check-input:checked {
        background-color: #05447a !important;
        border-color: #05447a !important;
        border-radius: none !important
    }

    .checkbox-text{
        margin-left: 0.8rem;
        font-size: 0.8rem;
    }

    .checkbox-div{
        width: 10rem;
        display: inline-block;
        padding-left: 1rem;
    }

    .range-div{
        width: 100%;
        display: inline-block;
        padding-left: 1.5rem;
    }

    .range-text{
        font-size: 0.8rem;
        color: #616374;
    }

    .working-checkbox-div{
        width: 10rem;
        display: inline-block;
    }
    
    .slider-box{
        width: 70%;
        &.margin{
            margin-left: 1.5rem;
        }
    }
    
    .shadow-top{
        box-shadow: 0px 1px #e2e2e2 inset;;
    }

    .save-btn{
        font-size: 0.9rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
        margin-left: 2rem;
    }

    .cancel-btn{
        font-size: 0.9rem !important;
        color: #05447a !important;
        border-color: #05447a !important;
        background-color: #ffffff  !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
       
    }
}


[data-Component="company-profile"]{

    .company-profile-page{
        height: fit-content;
    }

    .head-row{
        padding: 1rem 0;
    }

    .company-heading{
        font-size: 1.5rem;
        margin-bottom: 0;  
    }

    .edit-btn{
        font-size: 0.9rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        margin-right: 1rem;
    }

    .company-page{
        background-color: #ffffff;
        border-radius: 0.2rem;
        margin-left: 0.1rem;
        margin-right: 1.5rem;

        .card-size{
            width: 35rem;
            margin: auto;
        }

        .card-title{
            font-size: 1rem;
            color: #696978;
            font-weight: 400;
        }

        .card-img{
            width: 100%;
            height: 92px;
            object-fit: cover;
            box-shadow: -1px 1px 8px 1px #80808047;
        }

        .elevation-text{
            font-size: 0.9rem;
            font-weight: 500;
            color: #696978;
            margin-left: 0.5rem;
            position: relative;
            top: 5px
        }

        .building-icon{
            color: #616374;
        }

        .card-space-icon{
            width: 20px;
            height: 20px;
        }

        .address-text{
            font-size: 0.85rem;
            color: #696978;
            margin-left: 0.5rem;
        }

        .mail-icon{
            color: red;
        }

        .mail-text{
            font-size: 0.6rem;
            color: red;
            margin-left: 0.5rem;
        }

        .mail-background{
            background-color: #fdf8f7;
            border-radius: 3px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 5px; 
        }

        .call-icon{
            color: green;
        }

        .call-text{
            font-size: 0.6rem;
            color: green;
            margin-left: 0.5rem;
        }

        .call-background{
            background-color: #f9fef9;
            border-radius: 3px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 5px;
        }

        .linkedin-icon{
            color: #0077b7;
        }

        .linkedin-text{
            font-size: 0.6rem;
            color: #0077b7;
            margin-left: 0.5rem;
        }

        .linkedin-background{
            background-color: #ecf3fb;
            border-radius: 3px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 5px;
        }

        .card-row{
            margin: auto;
        }

        .card-size-i{
            width: 20rem;
            margin: auto;
            display: inline-block;
            margin-left: 4rem;
        }

        .profile-card-img{
            border-radius: 50%;
        }

        .designation-text{
            font-size: 0.8rem;
            color: #696978;
            margin-left: 0.5rem;
        }

    }
}

[data-Component="confirm-booking"]{
    .confirm-booking-page{
        height: fit-content;
    }

    .head-row{
        padding: 1rem 0;
    }

    .confirm-heading{
        font-size: 1.5rem;
        margin-bottom: 0;  
    }

    .save-btn{
        font-size: 0.9rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .cancel-btn{
        font-size: 0.9rem !important;
        color: #05447a !important;
        border-color: #05447a !important;
        background-color: #ffffff  !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
    }


    .address-text{
        font-size: 0.85rem;
        color: #696978;
    }

    .card-width{
        width: 16rem;
        margin: auto;
    }

    .card-title{
        font-size: 1rem;
        color: #696978;
        font-weight: 400;
    }

    .card-selected:active{
        border-radius: 1rem;
        border: 1px solid #05447a !important;
        box-shadow: 2px 2px 13px 2px #616374 !important;
    }

    .card-border{
        border-radius: 1rem;
    }

    .img-radius{
        border-radius: 1rem 1rem 0 0; 
    }

    .label{
        width: 6rem;
        background-color: #d6d6d5;
        color: #05447a;
        font-size: 0.9rem;
        border-radius: 3px;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        text-align: center;
        position: relative;
        bottom: 215px;
        right: 16px;
        z-index: 1;
    }

    .head-card{
        background-color: #b4c7d7;
        border-radius: 5px 5px 0 0;
        padding-left: 1rem !important;
        padding: 0.5rem;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .col-9-padding{
        padding-left: 0!important;
    }

    .col-3-padding{
        padding-right: 0!important;
    }

    .company-page{
        background-color: #ffffff;
        border-radius: 0.2rem;
        margin-left: 0.1rem;
        margin-right: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 12.5rem;
        
        .label-text{
            color: #696978;
        }

        .head-text{
            color: #696978;
            margin-bottom: 0.3rem;
            &.font{
                font-size: 0.8rem;
            } 
        }

        .add-btn{
            background-color: #ffffff !important;
            color: #05447a !important;
            border-color: #ced4da !important;
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

    }    

    .btn-next{
        background-color: #d7e1ea !important;
        color: #05447a !important;
        border: none;
        border-radius: 3px !important;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn-back{
        background-color: #d7e1ea !important;
        color: #05447a !important;
        border: none;
        border-radius: 3px !important;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 1rem;
    }

    .shadow-top{
        background-color: #ffffff;
        box-shadow: 0px 1px #e2e2e2 inset;
    }

    .footer{
        background-color: #ffffff;
        width: 77.5rem;
        position: fixed;
        bottom: 0rem;
    }

    .footer-heading{
        font-size: 1.5rem;
        color: #4f4f60; 
    }

    .filter-padding{
        
    }

}


[data-Component="confirm-booking-filter"]{

    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .confirm-filter-heading{
        font-size: 1.2rem;
        color: #616374;
        margin-bottom: 0;
    }

    .filter-sub-heading{
        font-size: 0.8rem;
        color: #696978;
    }

    .add-btn{
        font-size: 1rem !important;
        color: #ffffff;
        background-color: #05447a !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        margin-left: 3rem;
    }

    .go-back-btn{
        font-size: 1rem !important;
        color: #05447a !important;
        border: none !important;
        background-color: #ffffff  !important;
    }

    .search-icon{
        background-color: #d3d2da;
        color: #4f4f60;
    }


    .form-check-input:checked {
        background-color: #05447a !important;
        border-color: #05447a !important;
        border-radius: none !important
    }

    .form-check-input {
        border: 2px solid;
        border-color: #05447a !important;
        border-radius: 3px !important
    }


    .first-row{  
        background-color: #f5f6fa;
        text-align: center;
    }

    .checkbox-text{
        margin-left: 0.8rem;
        font-size: 0.8rem;
        color: #696978;
    }

    .border-box{
        border: 1px solid grey;
        border-top: none;
        text-align: center;
    }

}

[data-Component="dashboard"]{
    .dashboard-heading{
        font-size: 1.5rem;
        font-weight: 500;
        color: #4f4f60;
    }

    .dashboard-component-background{
        background-color: #ffffff;
    }

    .dashboard-new-booking-page{
        background-color: #ffffff;

        .heading{
            font-size: 0.9rem;
            color: #696978;
            padding-left: 0.5rem;
        }

        .shadow-line{
            box-shadow: 1px 1px 2px 3px #696978 outset;
        }

        .sub-heading{
            font-size: 1rem;
            color: #696978;
            padding-left: 1rem;
        }

        .pass-btn{
            background-color: #ffffff !important;
            border-color: #696978 !important;
            color: #696978 !important;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            width: 10rem;
            font-size: 1.1rem;

            &.hourly-pass-btn{  
                margin-left: 1rem;
            }
            &.hourly-pass-btn:active{  
                background-color: #d7e1ea !important;
            }
            &.daily-pass-btn{
                margin-left: 1rem;
            }
            &.daily-pass-btn:active{
                background-color: #d7e1ea !important;
            }
            &.monthly-pass-btn{
                margin-left: 1rem;
                background-color: #d7e1ea !important;
            }
            &.monthly-pass-btn:active{
                background-color: #d7e1ea !important;
            }
        }

        .dropdown-width{
            width: 10.5rem;
            margin-left: 1rem;
        }

        .find-me-space-btn{
            background-color: #698faf !important;
            color: #ffffff !important;
            margin-right: 0.9rem;
            padding: 0.2rem 2rem;
        }

        .dashboard-text{
            font-size: 0.9rem;
            color: #05447a;
            &.pad{
                padding-left: 1rem;
            }
        }

        .view-all{
            font-size: 0.9rem;
            text-decoration: none;
            color: #05447a;
            margin-right: 1rem;
        }

        .card-padding{
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            background-color: #f8f8f8;
        }

        .card-title{
            color: #05447a;
            margin-top: 0.5rem;
        }

        .card-textI{
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }

        .card-text{
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
        }

        .card-body{
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }

        .scroll{
            overflow-y:scroll; 
            height: 312px;
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }

        .sub-heading-I{
            font-size: 1.2rem;
            font-weight: 600;
            color: #696978;
            padding-left: 1rem;
        }

        .progress-bar{
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .circle{
            width: 10px;
            height: 10px;
            background-color: green;
            border-radius: 50%;
            margin-left: 2rem;
            margin-right: 1rem;
            display: inline-block;
        }

        .progress-bar-text{
            font-size: 1.1rem;
            font-weight: 600;
        }

        .progress-nmbr{
            font-size: 1.1rem;
            font-weight: 700;
        }

        .number-circle{
            width: 35px;
            height: 35px;
            background-color: #e6f2fe;
            border-radius: 50%;
            margin-left: 2rem;
            margin-right: 1rem;
            display: inline-block;
            font-size: 0.7rem;
            font-weight: 700;
            color: #05447a;
        }

        .percent-number{
           position: relative;
           top: 7px;
           left: 7px;
        }
    }
}

[data-Component="booking-detail"]{
    .booking-detail-page{

    }

    .booking-heading{
        font-size: 1.5rem;
        color: #4f4f60; 
    }

    .booking-sub-heading{
        font-size: 1.4rem;
        font-weight: 400;
        color: #4f4f60;        
    }

    .search-icon{
        background-color: #d3d2da;
        color: #4f4f60;
    }

    .filter-btn{
        color: #ffffff !important;
        background-color: #05447a !important;
        margin-right: 0.5rem;
        .icon-plus{
            margin-right: 0.5rem;
            font-weight: bolder !important;
            padding-bottom: 0.3rem;
        }
    }


    .sub-booking-detail-page{
        background-color: #ffffff;

        .filter-booking-btn{
            font-size: 0.9rem !important;
            color: #ffffff;
            background-color: #05447a !important;
            // padding-left: 2rem !important;
            // padding-right: 2rem !important;
            padding-top: 0.1rem !important;
            padding-bottom: 0.1rem !important;
        }

        .funnel{
            margin-right: 0.5rem !important;
            padding-bottom: 0.2rem;
        }

        .dropdown-box{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            &.box-2{
                margin-left: 0;
                margin-right: 1rem; 
            }
        }

        .dropdown{
            font-size: 0.8rem;
            padding-top: 0.1rem !important;
            padding-bottom: 0.1rem !important;
            border: 2px solid;
            border-color: #05447a;
            color: #05447a;
            &.drop{
                background-color: #e6f2fe;
                border: none;
            }
        }

        .table-responsive{
           background-color: #f5f6fa;
        }

        .table-label{
            width: 110px;
            background-color: #d4ebef;
            color: #0796b2;
            border-radius: 25px;
            font-size: 0.8rem;
            text-align: center;
        }

        .circle-number{
            width: 110px;
            background-color: #d4ebef;
            color: #0796b2;
            border-radius: 25px;
            font-size: 0.8rem;
            text-align: center;
        }

        .margin{
            margin-left: 0.5rem;
        }

        .view-btn{
            font-size: 0.9rem !important;
            color: #ffffff;
            background-color: #05447a !important;
            padding-top: 0.1rem !important;
            padding-bottom: 0.1rem !important;
        }

        .arrow{
            margin-left: 1rem !important;
            padding-bottom: 0.2rem;
        }

    }

}

[data-component="working-days"]{

    .company-page{
        height: 100vh;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.2rem;
        .assign-working-days{
            text-decoration: none;
            color: #05447a;
        }

        .heading-text{
            padding-left: 2rem;
        }

        .heaging-row{
            background-color: #dadadd;
        }

        .text{
            padding-left: 2rem;
        }

        .week-days{
            background-color: #ffffff;
            border: 1px solid #05447a;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 1.5rem;
            border-radius: 0.2rem;
        }

        .selected-days{
            background-color: #05447a;
        }

        .week-text{
            color: #05447a;
            font-size: 0.9rem;
        }

        .selected-text{
            color: #ffffff;
        }
    }
}


[data-Component="mobile-view-sidebar"]{
    .drawer{
        object-fit: cover;
        border-radius: 50%;
    }
}