[data-layout="layout-lm-dashboard"] {
    background: #F4F4F9;
  
    .btn{
      font-size: 1rem;
      padding: .175rem .75rem;
      font-weight: 400;
      > svg{
        font-size: 1.2em;
      }
      text-decoration: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        text-decoration: none;
      }
    }
  
    .btn-primary {
      background: $color-primary;
      border-color: $color-primary;
      box-shadow: none;
      color: $color-white;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        background: $color-primary-light;
        border-color: $color-primary;
        box-shadow: none;
        color: $color-white;
      }
    }
    .btn-energy {
      background: $color-energy;
      border-color: $color-energy;
      color: $color-primary;
      box-shadow: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        background: $color-energy;
        border-color: $color-energy;
        color: $color-primary-light;
        box-shadow: none;
      }
    }
    .btn-lm-danger {
      background: $color-lm-danger-light;
      border-color: $color-lm-danger-dark;
      color: $color-lm-danger-dark;
      box-shadow: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        background: $color-lm-danger-light;
        border-color: $color-lm-danger-dark;
        color: $color-lm-danger-dark;
        box-shadow: none;
      }
    }
  
    .btn-outline-primary {
      color: $color-primary;
      border: none;
      background: $color-primary-lighter;
      box-shadow: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        color: $color-primary;
        background: $color-primary-lighter;
        border: none;
        box-shadow: none;
      }
      &.btn-white{
        background: $color-white;
        border: $color-primary solid 1px;
      }
    }
  
    .btn-outline {
      color: $color-primary;
      border-color: $color-primary;
      background: $color-white;
      box-shadow: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active , &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus{
        color: $color-primary;
        background: $color-white;
        border-color: $color-primary-light;
        box-shadow: none;
      }
    }
    .btn-link {
      color: $color-primary;
      border: none;
      background: none;
      box-shadow: none;
      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, &.focus, &:focus,  &:not(:disabled):not(.disabled):active:focus{
        color: $color-primary;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  
    .elevation-one{
      box-shadow: 0px 0px 10px 0px rgba(182,182,182,0.61);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(182,182,182,0.61);
      -moz-box-shadow: 0px 0px 10px 0px rgba(182,182,182,0.61);
  
    }
  
    .dashboard-container {
      margin: 0;
      // background: #f5f6fa;
      margin-left: 5rem;
  
  
      .scrollable-sidebar {
  
        background: #002233;
        color: white;
        position: fixed;
        width: 14rem;
        top: 0;
        left: 5rem;
        overflow: hidden;
  
        > div {
          overflow: auto;
          height: 100vh;
        }
      }
      .scrollable-sidebar_rfq {
  
        background: #002233;
        color: white;
        position: fixed;
        width: 20rem;
        top: 0;
        left: 5rem;
        overflow: hidden;
  
        > div {
          overflow: auto;
          height: 100vh;
        }
      }
      .minimum_sidebar{
        width: 8rem !important;
      }
  
      .with-sidebar {
        margin-left: 14rem;
      }
      .with-sidebar_rfq {
        margin-left: 20rem;
      }
      .minimum-with-sidebar-rfq{
        margin-left: 8rem !important;
      }
  
      .module-menu {
        background: #06273c;
        width: 5rem;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        text-align: center;
        padding: 1rem;
        border-right: 1px solid #444f56;
  
        .logo-wrapper {
          width: 3rem;
  
        }
  
        .menu-link-list {
          padding: 0;
  
          li {
            list-style-type: none;
  
            padding: 0.65rem 0.25rem;
            text-align: center;
            border-radius: 0.45rem;
            margin: 0.15rem;
            margin-bottom: 1.25rem;
            cursor: pointer;
  
            a {
              color: white;
            }
          }
  
          li:hover, li.active {
            background: #3b7192;
          }
        }
  
        .top-link-wrapper {
          position: absolute;
          top: 6rem;
          width: 3rem;
        }
  
        .bottom-link-wrapper {
          position: absolute;
          bottom: 0;
          width: 3rem;
        }
      }
  
  
      .lm-card{
        .lm-header{
          padding: 1rem 1.5rem;
          .heading{
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin-bottom: 0;
            margin-top: 0.45rem;
            color: white;
          }
        }
        .lm-body{
          min-height: 100vh;
          // box-shadow: 5px 10px 18px grey;
        }
      }
  
  }
  
    .dashboard-container{
      .main-body{
        .layout-header{
          background: #f5f6fa;
          padding: 1rem;
          h1.heading{
            font-size: 1.5rem;
            color: $color-primary;
          }
          h2.sub-heading{
            font-size: 1.05rem;
            color: $color-primary-light;
          }
          .btn{
            &.btn-outline-primary{
              background: white;
              border: $color-primary solid 1px;
              margin-right: 0.5rem;
            }
          }
          .circle{
            width: 18px;
            height: 18px;
            background-color: #07b871;
            border-radius: 50%;
            font-size: 0.5rem;
            color: #fff;
            padding-top: 0.15rem;
            position: absolute;
            top: -9px;
            margin-left: 1px;
          }
        }
        .layout-body{
          .top-pagination-bar{
            min-height: 2.5rem;
            border-bottom: 1px solid $color-border-light;
            background: white;
            padding: 0.25rem 1rem;
            .pagination-text{
              font-size: 1.1rem;
              color: $color-theme-dark;
              padding-top: 0.15rem;
            }
          }
          .broker-profile{
            background: $color-border-lighter;
            padding: 1rem;
          }
        }
      }
    }
  }